/*------------------------------------------------------------------
Background Color
-------------------------------------------------------------------*/

.bg-color,
.account-popup>form button,
.layer.color::before,
.pricetable>a,
.pricetable.active,
.bottom-line.style2 {
    background-color: #64bdf9;
}


/*------------------------------------------------------------------
Text Color
-------------------------------------------------------------------*/

.text-color,
.pricetable-head h2,
.pricetable.active>a {
    color: #141f72;
}


/*------------------------------------------------------------------
Border Color
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
COLOR SCHEME 2
-------------------------------------------------------------------*/

.forsticky.sticky .post-job-btn {
    border: 2px solid #64f982;
    background: transparent;
    color: #64f982;
}

.post-job-btn {
    background-color: #64f982;
    border: 2px solid #64f982;
}

.bg-color,
.post-job-btn,
.account-popup .close-popup,
.blog-metas a::before {
    background-color: #64f982;
}


/*------------------------------------------------------------------
Text Color
-------------------------------------------------------------------*/

.text-color,
.menu-sec nav>ul>li>ul li:hover>a,
.account-popup>form .cfield i,
.account-popup>form>a,
.chosen-container-single .chosen-single div::before,
.job-field i,
.chosen-container .chosen-results li.highlighted,
.active-result.result-selected,
.scroll-to a,
.p-category>a p,
.p-category:hover i,
.job-title-sec span,
.blog-metas a,
.blog-details>a {
    color: #64bdf9;
}


/*------------------------------------------------------------------
Border Color
-------------------------------------------------------------------*/

.border-color,
.select-user>span.active,
.browse-all-cat a {
    border-color: #64f982;
}