.input__label-content {
    color: #25258e;
}

.facebook-icon {
    background: #3b5998;
}

.linkedin-icon{
    background: #0077B5 !important;
}

.twitter-icon {
    background: #0084b4;
}

.google-icon {
    background: #d34836;
}

.error {
    border-bottom: 1px solid red !important;
}

.profile-btn-holder {
    margin: 40px 0;
}

.top-menu-tl {
    color: #64bdf9 !important;
    width: 100%;
    background: white !important
}

.top-menu-tl i {
    color: white !important;
}

.btn-raised {
    float: right;
}

.notification-list .noti-title {
    background: #64bdf9;
}

.status-pending {
    border: 1px solid #ffb204;
    border-radius: 12px;
    padding: 1px 10px 3px;
    font-size: 13px
}

.attr-nav>ul>li>a {
    color: white;
}

.btn {
    background: #009344 ;
    color: white ;
}

.btn-link {
    background: transparent !important;
    color: black !important;
}

.status-complete {
    border: 1px solid #6fc334;
    border-radius: 12px;
    padding: 1px 10px 3px;
    font-size: 13px
}

.focus {
    color: green !important;
    font-weight: bold;
}

ul.gen {
    padding-left: unset;
    list-style-type: square;
}

.cursor-pointer {
    cursor: pointer;
}

.status-cancelled {
    border: 1px solid #f63b23;
    border-radius: 12px;
    padding: 1px 10px 3px;
    font-size: 13px
}