.invalid-feedback {
    color: red;
}

.is-invalid {
    background: #ff00005c;
}

.messages {
    padding: 2vh;
    margin-bottom: 29px;
    display: none !important; 
}

@media (min-width: 400px) and (max-width: 993px) {
    .invalid-feedback {
        position: absolute;
        bottom: -20px;
    }
}

@media (min-width: 667px) and (max-width: 792px) {
    .invalid-feedback {
        position: absolute;
        bottom: -20px;
        font-size: small;
    }
}

@media (min-width: 1200px) {
    .invalid-feedback {
        position: absolute;
        bottom: -20px;
    }
}

::placeholder {
    color: white !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}