/* background */

.bg-transparent {
    background: transparent;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}


/* end of background */


/* margin */

.no-ml {
    margin-left: 0px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px
}

.mt-20 {
    margin-top: 20px;
}

.m-10{
    margin:10px;
}


/* display */

.block {
    display: block;
}

.inline {
    display: inline;
}

.d-inline-box {
    display: -webkit-inline-box;
}

.inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
}


/* dimension */

.full-height {
    height: 100%;
}

.full-screen {
    height: -webkit-fill-available;
}

.full-width {
    width: 100%;
}


/* end of dimension */


/* positioning */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}


/* text */

.small-text {
    font-size: 11px;
}

.medium-text {
    font-size: 15px;
}

.text-bold {
    font-weight: bold;
}


/* special */

.hide-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.no-pad-sides {
    padding-left: 0;
    padding-right: 0;
}

/* visibility */
/* .invisible */