.field-error {
    border-bottom: 1px solid red !important;
}
body{
    font-family: 'Segoe UI';
}

input,select,textarea{
    padding:10px !important;
}

.messages {
    margin: 15px 0px;
    display: none !important; 
}

.q-btn{
    background:none!important;
border:none; 
padding:0!important;
/*border is optional*/
border-bottom:1px solid #444; 
}

.messages ul li {
    text-align: left;
    margin: 0px
}

.font-10{
    font-size:10px;
}

.comment-item{
    border: 1px solid #ddd;
    border-radius: 15px;
}

.comment-ans{
    padding-left: 10px;
}

.validation-message {
    font-size: 12px;
    color: red;
}

.profile-pix {
    width: auto;
    height: 140px
}

.profile-tabs {
    margin: 10px auto;
}

ul.side-bar li.active a {
    color: #64bdf9 !important;
    padding-left: 5px !important;
}

.caption div h3{
    color:white;
    font-size: 40px;
    font-weight:400;
    /* text-shadow: 2px 3px 1px black; */
    line-height: inherit;
}

.caption div small{
    color:white;
    font-size:20px;
    font-weight:400;
    /* text-shadow: 1px 1px 1px black; */
}

.auth-box {
    background: url(../assets2/images/carousel/img-01.jpg);
    height: 100%;
    background-size: cover;
    height: -webkit-fill-available;
    background: #65b4e99b;
    background-image: url(../assets2/images/carousel/img-01.jpg);
    /* fallback */
    background-image: url(../assets2/images/carousel/img-01.jpg), linear-gradient(45deg, #64bdf9, #65b4e99b);
    background-blend-mode: screen;
    padding: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #64bdf9;
    border: 1px solid #64bdf9
}

.auth-option::before, .auth-option::after{
    content: '|';
    color: #64bdf9;
    padding:20px;


}

input{
    caret-color: #64bdf9;
}

.auth-option{
    font-weight: 900;
    color:black !important;
}


/* input {
    float: left !important;
    width: 100%;
    border: 2px solid #e8ecec !important;
    margin-bottom: 20px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    border-radius: 8px !important;
    padding: 14px 45px 14px 15px !important;
    background: #ffffff !important;
    font-family: Open Sans !important;
    font-size: 13px !important;
    color: #101010 !important;
    line-height: 24px !important;
} */

.gj-datepicker-bootstrap [role=right-icon] button {
    border: none !important;
    background: transparent !important;
    box-shadow: unset;
    color: black !important
}
.s-icon{
    padding: 20px !important;
}

i.s-icon{
    top: 0 !important;
}
.gj-datepicker-bootstrap [role=right-icon] button .gj-icon,
.gj-datepicker-bootstrap [role=right-icon] button .material-icons {
    top: 0 !important
}

.pointer {
    cursor: pointer;
}

.dockay-card {
    padding: 20px;
}

.job-type {
    float: right;
    border-radius: 18px;
    padding: 6px;
    color: white;
    font-size: 10px;
}

.pt {
    background: #64bdf9;
}

.ft {
    background: #40cd5d;
}

.profile-img {
    display: block;
    margin: auto;
}

.timeline-action {
    margin: 10px;
    font-size: 12px;
}

.it {
    background: white;
    color: #40cd5d;
    border: 1px solid #40cd5d;
}

.locum {
    background: white;
    color: #64bdf9;
    border: 1px solid #64bdf9;
}

.poster-details {
    vertical-align: bottom;
    display: inline-block;
    color: #6c757d;
}

.more-details {
    border: 1px solid #eee6e6ad;
    padding: 2px;
    margin: 0 5px;
    font-size: 11px;
}

.post-title {
    font-size: 15px;
}
.blockquote-footer{
    font-size: 10px;
}

.post-content {
    font-size: 13px;
}

.avatar-img {
    height: 100%;
}

.mb-90 {
    margin-bottom: 90px
}

.c-logo img,
.facility-logo {
    width: 97px !important;
}

.form-box {
    /* margin-right: 50px !important; */
    /* margin-top: 100px !important; */
}

.social-reg i {
    width: 20%;
    padding: 1vh;
    color: white;
    border: 1px solid transparent;
}

.social-reg .fa-facebook {
    background: #3B5998;
}

.more-details-mobile{
    padding: 5px;
}

.social-reg .fa-whatsapp{
    background: rgba(85, 163, 85, 0.767) ;
}
.fa-whatsapp{
    color: rgba(85, 163, 85, 0.767) !important;
}

.social-reg .fa-facebook:hover {
    color: #3B5998;
    background: white;
    border: 1px solid #3B5998 !important;
}

.social-reg .fa-whatsapp:hover {
    color: rgba(85, 163, 85, 0.767);
    background: white;
    border: 1px solid rgba(85, 163, 85, 0.767) !important;
}

.social-reg .fa-twitter {
    background: #00aced;
}

.social-reg .fa-twitter:hover {
    color: #00aced;
    background: white;
    border: 1px solid #00aced !important;
}

.social-reg .fa-google-plus {
    background: #d34836;
}

.social-reg .fa-google-plus:hover {
    color: #d34836;
    background: white;
    border: 1px solid #d34836 !important;
}

.profile-holder {
    /* padding: 10px */
}
.btn-link{
    text-decoration: underline;
}
.dockay-box-bd {
    border: 1px solid rgb(100, 189, 249);
}

.image-active {
    filter: grayscale(100);
    border: 3px solid #64bdf9;
}

.profile-x{
    border:1px solid gray;
    width:150px;
    height:150px;
}

.select-profile {
    float: right;
}

.action-center div span {
    padding: 5px;
}

.action-center div span a {
    font-size: 12px;
}

a {
    color: #64bdf9 ;
    font-weight: bolder;
}

.dockay-bd-rad {
    border-radius: 18px;
}

.btn {
    background: #64bdf9 !important;
    border-color: #64bdf9 !important;
    border-radius: 12px !important;
}

.dockay-bg{
    background:#64bdf9;
}

.dockay-color{
    color:#64bdf9 !important;
}

.overlay-prof-pic{
    background: rgb(100, 189, 249, 0.5);
    position:absolute;top:0px;left:0px;
    visibility: hidden;
    
}

.profile-box:hover .overlay-prof-pic{
    visibility: visible;
}

.btn-outline {
    border-color: #64bdf9 !important;
    background: white !important;
    color: #64bdf9 !important;
}

.avatar
{
    height:40px !important;
    width:40px !important;
    border: 1px solid #64bdf9 !important;
}

.pagination{
    margin-top: 29px !important;
    margin: auto;
    justify-content: center!important;
}

.btn-outline:hover {
    background: #64bdf9 !important;
    color: white !important
}

.btn-active {
    background: #64bdf9 !important;
    color: white !important
}

.btn-link {
    background: transparent !important;
}

body {
    background: #eaeaea
}

@media (max-width: 365px){

    .a-link{
        font-size:11px;
    }
}

@media (max-width: 1199px){
    
    .content img{
        display: block !important;
    height: 25px !important;
    width: auto !important;
    margin: auto;
    }
}

@media (max-width: 620px){
    .app-search-2 {
        display:  block;
        margin-right: 0
    }
    
    .app-search-2 form{
        width: 100% !important;
    
    }

    
    .pt-1 input{
        color: black;
        font-weight: 900;
    }
    .pt-1 input, .pt-1 a i{
        /* padding: 10px !important; */
    }
    .app-search a i{
        top: 0;
    }
                }


                /* loader */
                .flex-center {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                  }
                  
                  .preloader {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: #64bdf966;
                  }
                  
                  .dots .dot {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    margin: 0 10px 0 10px;
                    border-radius: 50%;
                    background: #FFF;
                    -webkit-animation: dot-dot-dot 1.4s linear infinite;
                    animation: dot-dot-dot 1.4s linear infinite;
                  }
                  
                  .dots .dot:nth-child(2) {
                    animation-delay: .2s;
                  }
                  
                  .dots .dot:nth-child(3) {
                    animation-delay: .4s;
                  }
                  
                  @keyframes dot-dot-dot {
                    0%, 60%, 100% {
                      -webkit-transform: initial;
                        -ms-transform: initial;
                          transform: initial;
                    }
                    30% {
                      -webkit-transform: translateY(-25px);
                        -ms-transform: translateY(-25px);
                          transform: translateY(-25px);
                    }
                  }


                  .bg {
                    /* The image used */
                    background-image: url("../assets2/images/carousel/job.png");
                
                    /* Full height */
                    height: 100%; 
                    position:Relative;
                    /* Center and scale the image nicely */
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                
                .bg-content {
                    position: absolute;
                    top: 0;
                    background: rgba(100, 189, 249, 0.9); /* Black background with transparency */
                    color: #f1f1f1;
                    width: 100%;
                    height:100%;
                    
                }
                
                .flex{
                    display:flex;
                }
                
                .bg-content div{
                    margin:auto;
                    width:100%;
                    text-align:center;
                }
                .logo-small{
                    width:25px;
                    height:auto;
                }
                .logo-big{
                    width:100px;
                    height:auto;
                }
                
                .navbar{
                    box-shadow:none;
                    z-index:1000;
                    transition: 2s;
                }
                
                .dk-links li{
                    display:inline;
                    padding: 1px 2px;
                }
                
                .a-link{
                    color:white;
                }
                
                
                
                .dk-services{
                    margin-top:50px
                }
                
                .dk-underline{
                    background:rgb(0,0,0, 0,4);
                    box-shadow:1px 1px 2px rgb(0,0,0, 0.2);;
                }
                
                .dk-features{
                    background: #eaeaea;
                    margin-top:10px;
                    padding:50px;
                }
                
                
                .dk-footer{
                    padding: 20px 10px;
                    background: #64bdf9;
                    color:white;
                }
                
                
                .flex img{
                    height:80px
                }
                
                .dk-join{
                    height: 300px;
                }
                
                .dk-s-icon{
                    margin: 1px 10px;
                    background:white;
                    width:20px;
                    height:20px;
                   
                    border-radius:50%;
                    display:flex;
                    float:left;
                }
                
                .icon{
                   margin:auto;
                   color: #64bdf9;
                   
                }
                .nav-link {
                    display: unset; 
                    padding: unset;
                    text-transform: capitalize;
                }

                .dropdown-menu{
                    right: 0px !important;
                    left:unset !important;
                }

                .pt-1 input, .pt-1 a i{
                    /* padding: 10px !important; */
                }