.border-title {
    float: left;
    width: 100%;
    border-bottom: 1px solid #edeff7;
    padding-bottom: 20px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
}

.border-title>h3 {
    float: left;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: bold;
    color: #202020;
    margin: 0;
    padding-left: 30px;
}

.border-title>a {
    float: right;
    line-height: 27px;
    font-family: Open Sans;
    font-size: 13px;
    color: #fb236a;
}

.edu-history-sec {
    float: left;
    width: 100%;
    padding-left: 30px;
}

.edu-history {
    float: left;
    width: 100%;
    display: table;
    margin-bottom: 20px;
    position: relative;
}

.edu-history>i {
    display: table-cell;
    vertical-align: top;
    width: 70px;
    font-size: 50px;
    color: #64bdf9;
    line-height: 60px;
}

.edu-hisinfo {
    display: table-cell;
    vertical-align: top;
}

.edu-hisinfo>h3 {
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 15px;
    color: #8b91dd;
    margin: 0;
    margin-top: 0px;
    margin-top: 10px;
}

.edu-hisinfo>i {
    float: left;
    width: 100%;
    font-style: normal;
    font-size: 13px;
    color: #888888;
    margin-top: 7px;
}

.edu-hisinfo>span {
    float: left;
    width: 100%;
    font-family: Open Sans;
    font-size: 15px;
    color: #202020;
    margin-top: 8px;
}

.edu-hisinfo>span i {
    font-size: 13px;
    color: #888888;
    font-style: normal;
    margin-left: 12px;
}

.edu-hisinfo>p {
    float: left;
    width: 100%;
    margin: 0;
    font-size: 13px;
    color: #888888;
    font-style: normal;
    line-height: 24px;
    margin-top: 10px;
}

.edu-history-sec .action_job {
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
}

.action_job {
    margin: 0;
    text-align: center;
}

.action_job>li {
    float: left;
    margin: 0;
    position: relative;
}

.action_job>li span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    background: #0f36a5;
    color: #ffffff;
    width: 80px;
    font-size: 12px;
    padding: 5px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-left: -40px;
    margin-bottom: 9px;
}

.action_job>li span::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10px;
    height: 10px;
    content: "";
    background: #0f36a5;
    margin-left: -5px;
    margin-bottom: -4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.edu-history-sec .action_job li a {
    font-size: 19px;
    color: #8b91dd;
}

.resumeadd-form {
    clear: both;
}

.action_job>li>a {
    float: left;
    font-size: 15px;
    color: #9c9c9c;
    padding: 0 6px;
}

.edu-history.style2::before {
    position: absolute;
    left: 7px;
    top: 20px;
    width: 2px;
    height: 100%;
    content: "";
    background: #e8ecec;
}

.edu-history.style2>i {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #8b91dd;
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.edu-history>i {
    display: table-cell;
    vertical-align: top;
    width: 70px;
    font-size: 50px;
    color: #64bdf9;
    line-height: 60px;
}

.edu-history.style2 {
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 24px;
    padding-bottom: 0;
}

.edu-history.style2 .edu-hisinfo>h3 {
    margin: 0;
}

.edu-history.style2 .edu-hisinfo>h3 span {
    color: #202020;
    margin-left: 10px;
}

.pf-title {
    float: left;
    width: 100%;
    margin-top: 30px;
    font-family: Open Sans;
    font-size: 13px;
    color: #202020;
    margin-bottom: 13px;
}

.pf-field {
    float: left;
    width: 100%;
    position: relative;
}

.pf-field>input,
.pf-field>input,
.pf-field>textarea {
    float: left;
    width: 100%;
    border: 2px solid #e8ecec;
    margin-bottom: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 14px 45px 14px 15px;
    background: #ffffff;
    font-family: Open Sans;
    font-size: 13px;
    color: #101010;
    line-height: 24px;
}

.pf-field>i {
    position: absolute;
    right: 20px;
    top: -10px;
    font-size: 20px;
    line-height: 48px;
}

.pf-field>i.fa-facebook {
    color: #3B5998;
}

.pf-field>i.fa-twitter {
    color: #00aced;
}

.pf-field>i.fa-google {
    color: #d34836;
}